<% tv_shows.each do |tv_show| %>
  <tr>
    <td><%= tv_show.channel&.name %></td>
    <td><%= tv_show.name %></td>
    <td><%= tv_show.timing.strftime("%H:%M") %></td>
    <% if current_user.present? %>
      <% if current_user.favorited?(tv_show) %>
        <td><%= link_to 'Remove as Favourite', remove_as_favourite_tv_shows_path(id: tv_show.id), method: :post %></td>
      <% else %>
        <td><%= link_to 'Add as Favourite', add_as_favourite_tv_shows_path(id: tv_show.id), method: :post %></td>
      <% end %>
    <% else %>
      <td><%= link_to 'Add as Favourite', user_session_path %></td>
    <% end %>
  </tr>
<% end %>